**{
	margin: 0%;
	padding: 0%;
}




.title{
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
   font-family: Times, "Times New Roman", Georgia, serif;
   border-radius: 40px;
   font-size: 20px;
}

.head{
	display: flex;
}


.Sid img{
	border-radius: 60px;
	padding: 10px;
	width: 500px;
	height: 500px;
	
}

ol
{
	padding-left: 5px;
	font-size: 22px

}

ul{
	list-style: none;
	color: orange;
	padding-left: 0px;
	transition: .4s;

}

p{
	font-size: 18px;
}

button{
	text-align: center;
	font-size: 25px;
	color: black;
	width: 17%;
	padding:15px;
	border: 0;
	cursor: pointer;
	margin-top: 5px;
	border-radius: 20px;
	background-color: orange;

}

button:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16),
	0 3px 6px rgba(0,0,0,0.23);
	transform: translate(0px, -8px);
}


.copy{
	text-align: center;
	background-color: black;
	color: white;
	padding: 8px;
   font-family: Times, "Times New Roman", Georgia, serif;
   border-radius: 5px;
   font-size: 8px;

}

